html,body,ul,li,a,p,h1,h2,h3,h4,h5,h6{padding: 0;margin: 0;list-style: none;text-decoration: none;}
header{height: 66px;width: 100%;background-color: black;}
nav{width: 1120px;margin: 0 auto;position: relative;}
nav>a{position: absolute;top: 16px;}
nav>ul{position: absolute;right: 0;top: 22px;}
nav>ul>li{float: right;margin-left:25px;}
nav>ul>li>a{color: #A8A8A4;padding: 3px 9px;}
nav>ul>li>a:hover{border: 1px solid #7B7B7B;color: white;border-radius: 8px;}